# Dependencies and build output
**/node_modules
**/.next
**/out
**/coverage

# Local and sensitive files
.git
.gitignore
**/.env*
**/*.tsbuildinfo
**/next-env.d.ts

# Logs and OS files
**/*-debug.log*
**/.DS_Store
